*{
    margin: 0;
    padding: 0;
}

html {
    background-color: #000;
}

body {
    margin-top: 1rem;
    font-family: 'Nerko One', cursive;
    background-image: linear-gradient(#000, #333);
    height: 98vh;
    color: #FAF8F6;
}

ul {
    list-style: none;
    padding: 0;
    margin: 1rem 3rem;
    display: flex;
    justify-content: space-around;
    gap: 0.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
    max-width: 65em;
    color: #FAF8F6;
}

header h1 {
    padding: 1rem;
    font-size: 4em;
    text-transform: uppercase;
    color: var(--title, dodgerblue);
    text-shadow: 1px 1px 2px black;
}

main {
    margin: 0 auto;

}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-inline: auto;
    text-align: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* emo styling */

#emoji {
    font-size: 8em;
    margin: 0.5em;
}

.bop {
    animation: bop 0.5s ease-in-out;
}

.big-btns {
    transform: scale(1.5);
}

nav {
    display: flex;
    justify-content: center;
    max-width: 60em;
}

nav ul {
    gap: 3em;
}

nav ul li {
    font-size: 1.4em;
}


/* pixel styles */
#pixel-display {
    border: none;
    width: 608px;
    height: 608px;
    display: flex;
    flex-wrap: wrap;
}

canvas {
    background-color: #FAF8F6;
    padding: 0;
    margin: 0;
    height: 38px;
    width: 38px;
}

/* number line styling */

#minus, #plus {
    width: 50px;
    height: 50px;
    padding: 0;
    margin-top: 1em;
}

#currentNumber {
    font-size: 8em;
    color: #FAF8F6;
}

#line {
    /* background-color: #FAF8F6; */
    width: 840px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
}

#pointer {
    width: 840px;
    height: 60px;
    font-size: .8em;
    display: flex;
    justify-content: space-between;
}

.line-number {
    font-size: 1.6em;
    color: '#1D1C1A';
    width: 40px;
    text-align: center;
}

.pointer-block {
    font-size: 3em;
    color: '#1D1C1A';
    width: 40px;
    text-align: center;
}

/* animations */

@keyframes bop{
    0%{
      transform: translateY(0px);
    }
    10% {
        transform: translateY(10px);
    }
    15% {
        transform: translateY(11px);
    }
    40% {
        transform: translateY(-20px);
    }
    70% {
        transform: translateY(-25px);
    }
    90% {
        transform: translateY(10px);
    }
    98% {
        transform: translateY(-5px);
    }
    100%{
      transform: translateY(0px);
    }
  }
  